<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}}</title>
    <meta
      name="description"
      content="Frida is our cat. She was born 17th April 2020. Here are some cute photos of her to help you through your day."
    />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐈</text></svg>"
    />
    <link
      rel="stylesheet"
      href="/public/style.css"
      type="text/css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
  </head>
  <body>
    {{body}}

    <footer>
      <a href="https://piet.me">❤</a>
    </footer>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function (f, a, t, h, o, m) {
        a[h] =
          a[h] ||
          function () {
            (a[h].q = a[h].q || []).push(arguments);
          };
        (o = f.createElement("script")),
          (m = f.getElementsByTagName("script")[0]);
        o.async = 1;
        o.src = t;
        o.id = "fathom-script";
        m.parentNode.insertBefore(o, m);
      })(document, window, "//fathom.piet.me/tracker.js", "fathom");
      if (location.hostname === "emergencyfrida.com") {
        fathom("set", "siteId", "MPDUR");
        fathom("trackPageview");
      }
    </script>
    <!-- / Fathom -->
  </body>
</html>
