@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 600px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background: #D1FFF0;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
 text-shadow: 3px 3px white;
}

a {
  color: black;
}
