@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 600px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: #d1fff0;
  color: #666;
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-shadow: 3px 3px white;
}

h1, a {
  color: black;
}

footer {
  margin-top: 3em;
}
footer a {
  font-size: 0.8em;
  text-decoration: none;
}
